__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.env
myenv
/notebooks/agent_with_memory.ipynb
/notebooks/agent_with_humanlopp.ipynb
/notebooks/jokes_agent.ipynb
/notebooks/jokes_agent.ipynb
/notebooks/langsmith.ipynb
/notebooks/sample.ipynb
/notebooks/time_travel_agent.ipynb
/notebooks/tools_sample.ipynb
/notebooks/email_agent_humanloop.ipynb
/notebooks/email_node_agent.ipynb

agent.py
lookout.py